Flask==2.3.3
Flask-SocketIO==5.3.6
Flask-Cors==4.0.0
requests==2.31.0
pynput==1.7.6
pyperclip==1.8.2
pygetwindow==0.0.9
python-socketio[client]==5.8.0
Werkzeug==2.3.7
pandas
PyQt5
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
firebase-admin==6.2.0